  *{ cursor: none; }
 body{
    overflow:hidden;
    background: #000!important;
}
.form-control{
    border: none!important;
    color: #f5f5f5!important;
}
.form-control:focus{
    box-shadow:unset!important;
    border: none!important;
}
strong#txt {
    color: #f5f5f5;
    font-size: 4rem;
}